{% extends "base/layout.html" %}
{% load static %}
{% block body %}

    <section class="pt-5 bg-section-secondary">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Surtitle -->
                            <span class="surtitle">Your account</span>
                            <!-- Title -->
                            <h1 class="h2 mb-0">
                                Settings
                            </h1>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <!-- <div class="col-auto">
                            <img alt="Image placeholder" src="{% static 'assets/img/theme/light/placeholder.png' %}" class="avatar avatar-lg rounded-circle" />
                        </div> -->
                        <div class="col ml-n3 ml-md-n1">
                            <!-- Title -->
                            <h3 class="mb-0">
                                <b>{{ request.user.username }}</b>
                            </h3>
                            <!-- Subtitle -->
                            <span class="text-muted d-block">{{ request.user.email }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="slice slice-sm bg-section-secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            
                            <div>
                                <!-- Title -->
                                <h5 class="mb-3">General information</h5>
                                <!-- Form -->
                                <form method="post">
                                    {% csrf_token %}
                                    <!-- General information -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label">First name</label>
                                                <input name="firstname" class="form-control" type="text" value="{{ request.user.first_name }}" placeholder="Enter your first name here">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Last name</label>
                                                <input name="lastname" class="form-control" type="text" value="{{ request.user.last_name }}"placeholder="Enter your last name here">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Email</label>
                                                <input class="form-control" type="email" value="{{ request.user.email }}" name="email" placeholder="{{ request.user.email }}">
                                                <small class="form-text text-muted mt-2">This is the main email address that we'll send notifications.</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Username</label>
                                                <input class="form-control" type="text" disabled placeholder="{{ request.user.username }}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Buttons -->
                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-sm btn-primary" id="save">Save</button>
                                    </div>
                                </form>
                            </div>   
                            <hr/>   
                            <!-- <div class="card mt-4">
                                <div class="card-body">
                                    <div class="row row-grid align-items-center">
                                        <div class="col-lg-8">
                                            <div class="media align-items-center">
                                                <span class="avatar bg-danger text-white rounded-circle mr-3">
                                                    <i data-feather="bell"></i>
                                                </span>
                                                <div class="media-body">
                                                    <h5 class="mb-0">Pro Account</h5>
                                                    <p class="text-muted lh-150 text-sm mb-0">
                                                        Your account will auto-renew on January 10th, 2020
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto flex-fill mt-4 mt-sm-0 text-sm-right d-none d-lg-block">
                                            <a href="#" class="btn btn-sm btn-neutral rounded-pill">Manage</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
 
                            <!-- Delete account -->
                            <div>
                                <div class="page-inner-header mb-4">
                                    <h5 class="mb-1">Delete account</h5>
                                    <p class="text-muted mb-0">
                                        Once you delete your account, there is no going back. Please be certain.
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-danger"   id="delete" >Delete your account</button>
                                    </div>
                                </div>
                                <div class="modal fade" id="modal_account_deactivate" tabindex="-1" role="dialog" aria-labelledby="modal_account_deactivate" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="pt-5 text-center">
                                                    <div class="icon text-danger">
                                                        <i data-feather="user-x" class=""></i>
                                                    </div>
                                                    <h4 class="h5 mt-5 mb-3">Extremely important</h4>
                                                    <p>
                                                        We will immediately delete all of your personal data from our database. This action can not be undone. Are you sure you want to do this?
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-link text-danger btn-zoom--hover font-weight-600">Delete</button>
                                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="position-relative" id="footer-main">
        <div class="footer footer-dark bg-dark pt-0">
             
            <!-- Footer -->
            <div class="container">
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2020 <a href="https://webpixels.io" class="font-weight-bold" target="_blank">Webpixels</a>. All rights reserved
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Terms
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Privacy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Cookies
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if profile_update %}
    <script>

    Swal.fire({
  icon: 'success',
  title: 'Changes Saved',
  text: 'Profile Update Successfull!',
}) 
    </script>
    {% endif %}
    <script>
        document.getElementById("delete").addEventListener("click", function(){
            Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire(
      'Deleted!',
      'Your account has been deleted successfully.',
      'success'
    )
  }
})
        })
    </script>
{% endblock %}