{% extends "base/layout.html" %}
{% load static %}
{% block body %}
    <section>
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center min-vh-100">
                <div class="col-md-8 col-lg-5 py-6">
                    <div>
                        <div class="mb-5 text-center">
                            <h6 class="h3 mb-1">Create your account</h6>
                            <p class="text-muted mb-0">Made with love for designers &amp; developers.</p>
                        </div>
                        <span class="clearfix"></span>
                        <form>
                            <div class="form-group">
                                <label class="form-control-label">Name</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control form-control-prepend" id="input-name" placeholder="John Ive">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Email address</label>
                                <div class="input-group input-group-merge">
                                    <input type="email" class="form-control form-control-prepend" id="input-email" placeholder="name@example.com">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="at-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <label class="form-control-label">Password</label>
                                    </div>
                                    <div class="mb-2">
                                        <a href="#" class="small text-muted text-underline--dashed border-primary" data-toggle="password-text" data-target="#input-password">Show password</a>
                                    </div>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control form-control-prepend" id="input-password" placeholder="********">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="key"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="my-4">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="check-terms">
                                    <label class="custom-control-label" for="check-terms">I agree to the <a href="../../pages/utility/terms.html">terms and conditions</a></label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="button" class="btn btn-block btn-primary">Create my account</button>
                            </div>
                        </form>
                        <div class="py-3 text-center">
                            <span class="text-xs text-uppercase">or</span>
                        </div>
                        <!-- Alternative login -->
                        <div class="row"> 
                            <div class="col-sm-12">
                                <a href="#" class="btn btn-block btn-neutral btn-icon">
                                    <span class="btn-inner--icon"><img src="{% static 'assets/img/icons/brands/google.svg' %}" alt="Image placeholder"></span>
                                    <span class="btn-inner--text">Google</span>
                                </a>
                            </div>
                        </div>
                        <!-- Links -->
                        <div class="mt-4 text-center"><small>Already have an acocunt?</small>
                            <a href="{% url 'login' %}" class="small font-weight-bold">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}